* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.libre-franklin-00 {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    display: grid;
    gap: 10px;
    grid-column: 2/-1;
}

.nav {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-gap: 20px;
}

nav>.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px;
    border-radius: 10px;
    justify-content: center;
}

.sidebar {
    grid-row: 1/-1;
    grid-column: 1/2;
    color: #fff;
    background-color: rgb(41, 145, 214);
}

.sidebar li {
    list-style: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(41, 145, 214);
    color: #fff;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
}


.content {
    grid-column: 2/-1;
    grid-row: 2/-1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}
