 @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.libre-franklin-00 {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    display: grid;
    gap: 10px;
    grid-column: 2/-1;
    border-color: #000;
    margin: 0 0 2px 0;
    box-shadow: 0 5px 5px #000;
}

.search {
    display: flex;
    justify-content: space-around;
}

.search img {
    width: 20px;
    height: 20px;

    margin: 0 20px;
}

/* .search { */
/*     display: grid; */
/*     grid-template-columns: repeat(3, 1fr); */
/*     grid-gap: 20px; */
/*     margin: 0 20px; */
/* } */

#search {
    flex: 1;
    margin: 0 20px;
    border-radius: 10px;
}

.nav {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-gap: 20px;
}

nav>.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px;
    border-radius: 10px;
    justify-content: center;
}

.sidebar {
    grid-row: 1/-1;
    grid-column: 1/2;
    color: #fff;
    background-color: rgb(41, 145, 214);
}

.sidebar li {
    list-style: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(41, 145, 214);
    color: #fff;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.content {
    grid-column: 2/-1;
    grid-row: 2/-1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    background-color: rgb(215, 219, 222);
    padding: 20px;
    justify-content: center;
    margin: 0;
}

div.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow:
        -7px 0 1px -1px #FFD700,
        0 2px 2px -1px #000;

}
